*{
  transition: all 0.3s;
}
html{
  overflow: hidden;
  height: 100%;
}
body{
  display: flex;
  height: 100%;
  flex-direction: column;
}
/* Styles for windows larger than 768px */
@media (min-width: 769px) {
  /* Your CSS for large windows */
  body {
      background-color: lightblue;
  }
  .root_{
    flex-direction: column;
  }
}

/* Styles for windows 768px or smaller */
@media (max-width: 768px) {
  /* Your CSS for smaller windows */
  body {
      background-color: lightgreen;
  }
  .root_{
    flex-direction: column;
  }
}

/* Styles for touchable devices with windows 768px or smaller */
@media (max-width: 768px) and (pointer: coarse) {
  /* Your CSS for touchable small windows */
  body {
      background-color: lightcoral;
  }
  .root_{
    flex-direction: column-reverse;
  }
  .swipe_panel{
    background-color: beige;
    width: 100%;
    height: 100%;
  }
}

